<table border="0" cellpadding="0" cellspacing="0" width="600"
       style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
    <tbody>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                       style="background-color:#96588a;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border-radius:3px 3px 0 0">
                    <tbody>
                        <tr>
                            <td style="padding:36px 48px;display:block">
                                <h1 style="font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left;color:#ffffff;background-color:inherit">
                                    ABC Store Trân Trọng Thông Báo
                                </h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                        <tr>
                            <td valign="top" style="background-color:#ffffff">

                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:48px 48px 32px">
                                                <div style="color:#636363;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                                                    <p style="margin:0 0 16px">
                                                        Chào {{TenKhachHang}},
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Chúng tôi mong rằng bạn đang khỏe và hạnh phúc. Đầu tiên, chúng tôi xin gửi lời cảm ơn sâu sắc vì sự ủng hộ và quan tâm của bạn đến ABC Store.
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Tuy nhiên, chúng tôi tiếc phải thông báo rằng tài khoản của bạn tại ABC Store đã bị khóa vì vi phạm các điều khoản và chính sách cộng đồng của chúng tôi. Việc này bao gồm những hành động không phù hợp hoặc vi phạm quy tắc ứng xử trong cộng đồng của chúng tôi.
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Chúng tôi đã tiến hành kiểm tra và xác minh thông tin liên quan trước khi quyết định khóa tài khoản. Đối với chi tiết cụ thể về vi phạm của bạn, vui lòng kiểm tra email chính thức từ ABC Store mà bạn đã nhận.
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Nếu bạn cảm thấy có sự hiểu lầm hoặc muốn nêu rõ quan điểm của mình, xin vui lòng liên hệ với chúng tôi qua địa chỉ email {{DiaChiMailAdmin}} trong vòng 7 ngày kể từ ngày nhận được thông báo này.
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Chúng tôi xin lưu ý rằng quyết định khóa tài khoản không được đưa ra dễ dàng và được thực hiện sau một quá trình xem xét kỹ lưỡng. Mục tiêu của chúng tôi là duy trì môi trường mua sắm trực tuyến tích cực và an toàn cho tất cả các khách hàng của chúng tôi.
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Chúng tôi chân thành xin lỗi về sự bất tiện mà điều này có thể gây ra và hy vọng bạn hiểu rằng quyết định này được đưa ra với trách nhiệm cao nhất đối với cộng đồng của chúng tôi.
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Trân trọng,
                                                    </p>
                                                    <p style="margin:0 0 16px">
                                                        Đội Ngũ hỗ trợ của ABC Store
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>