@using WebBanHangOnline.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            @if (Request.IsAuthenticated)
            {
                var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
                var userManager = new UserManager<ApplicationUser>(userStore);
                var user = userManager.FindByName(User.Identity.Name);
                <a href="#" class="d-block">@user.FullName</a>
            }
        </div>
    </div>

    <!-- SidebarSearch Form -->
     <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Danh Mục
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/Category" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh Mục Mặc Định</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/productcategory" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh Mục Sản Phẩm</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p>
                            Vai Trò & Tài Khoản
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/role" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Vai Trò</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/account" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tài Khoản</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <p>
                            Tin tức & Bài viết
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/news" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tin Tức</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/posts" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> Bài Viết </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        <p>
                            Sản Phẩm
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/products" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sản Phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/order/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Đơn Đặt Hàng</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <p>
                            Khuyến Mãi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/combo/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Combo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/voucher" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Voucher</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/TimePromotion" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Khuyến Mãi Theo Thời Gian</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <p>
                            Nhập / Xuất
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/importproduct/index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nhập Hàng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/exportproduct/index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Xuất Hàng</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <p>
                            Thống Kê Kinh Doanh
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/Statistical/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tình hình kinh doanh</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/Statistical/Index_Categories" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh Mục Sản Phẩm</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/admin/settingsystem" class="nav-link">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <p>Cấu Hình Hệ Thống</p>
                    </a>
                </li>

            }
            @if (User.IsInRole("Employee"))
            {
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <p>
                            Tin tức & Bài viết
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/news" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tin Tức</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/posts" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> Bài Viết </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        <p>
                            Sản Phẩm
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/products" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sản Phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/order/IndexForEmployee" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Đơn Đặt Hàng</p>
                            </a>
                        </li>
                    </ul>
                </li>

            }



            @if (User.IsInRole("StoreKeeper"))
            {
                <li class="nav-item">
                    <a href="/admin/order/IndexForStoreKeeper" class="nav-link">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        <p>Đơn Đặt Hàng</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <p>
                            Nhập / Xuất
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/importproduct/index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nhập Hàng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/exportproduct/index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Xuất Hàng</p>
                            </a>
                        </li>
                    </ul>
                </li>
            }

            @if (User.IsInRole("Shipper"))
            {
                <li class="nav-item">
                    <a href="/admin/order/IndexForShipper" class="nav-link">
                        <p>Đơn Đặt Hàng</p>
                    </a>
                </li>
            }

            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <p>Đăng Xuất</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
}