
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills text-center">
                <li class="nav-item" style="width:380px;"><a class="nav-link active" href="#activity" data-toggle="tab">Mã Giảm Giá</a></li>
                <li class="nav-item" style="width:380px;"><a class="nav-link" href="#ttdh" data-toggle="tab">Mã Vận Chuyển</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    @Html.Action("Partial_User_Voucher", "Voucher", new { type = 1 })
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="ttdh">
                    @Html.Action("Partial_User_Voucher", "Voucher", new { type = 2 })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnUV', function () {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Voucher/UseVoucher',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            //checkVC();
                            location.reload();
                        }
                    }
                });
            });
        });
        function checkVC() {
            var btn = document.getElementById("ApDung");
            if (btn.innerText == "DÙNG VOUCHER")
            {
                btn.innerText = "ĐÃ DÙNG";
            }
            else
            {
                btn.innerText = "DÙNG VOUCHER";
            }
        }
    </script>
}