@model WebBanHangOnline.Models.EF.ImportProduct
@using WebBanHangOnline.Models.EF
@using Newtonsoft.Json
@{
    ViewBag.Title = "Thêm Phiếu Nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 0;
    List<Product> p = ViewBag.p;
    var ListSp = p.Select(item => new
    {
        item.Title,
        item.Id,
        item.Quantity,
        item.OriginalPrice,
        item.Price,
    }).ToList();

    var LP = Newtonsoft.Json.JsonConvert.SerializeObject(ListSp);
}

<link rel="stylesheet" href="~/Content/assets/styles/CreateExam.css" />
<div class="page-wrapper">
    <div class="container-fluid">
        @*Xây dựng nội dung ở đây*@

        <div class="ContainerCreateExam">
            <form action="/admin/ImportProduct/add" method="post">
                <div class="form-horizontal">
                    <h4>Phiếu Nhập Hàng</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên Đợt Nhập Hàng</label>
                        <div class="col-md-10">
                            <input type="text" name="TenDotNhapHang" class="NameKyThi" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ghi Chú</label>
                        <div class="col-md-10">
                            <textarea type="text" name="GhiChu" class="NameKyThi"></textarea>
                        </div>
                    </div>

                    @*Thông tin phiếu nhập*@
                    <table class="table table-bordered table-hover">
                        <thead style="background-color:aquamarine">
                            <tr class="text-center">
                                <th>Mã Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Giá Nhập</th>
                                <th>Giá Bán</th>
                                <th>Màu Sắc</th>
                                <th>Kích Thước</th>
                                <th>Số Lượng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="Exams">
                            <tr class="text-center" id="Exam">
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input class="form-control" name="LProduct[@i].ProductId" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input list="Titles" id="Title" class="form-control" name="LProduct[@i].Title" >
                                            <datalist id="Titles">
                                                <option value="">
                                            </datalist>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input class="form-control" name="LProduct[@i].OriginalPrice" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input class="form-control" name="LProduct[@i].Price" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input class="form-control" name="LProduct[@i].Color" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input class="form-control" name="LProduct[@i].Size" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10" style="background-color: white;">
                                            <input class="form-control" name="LProduct[@i].Quantity" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary" id="btnAddSize" onclick="ThemKichThuoc(i)" style="float: right;">Thêm</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-top: 10px">
                        <button type="submit" class="btn btn-primary">Tạo Phiếu Nhập</button>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary" onclick="ThemCauHoi()" style="float: right">Thêm Sản Phẩm</button>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>
@section scripts{
    <script>
        var Lquestion = @Html.Raw(LP);
        console.log(Lquestion);
        const currentTime = document.querySelector("h1"),
            content = document.querySelector(".content"),
            selectMenu = document.querySelectorAll("datalist"),
            setAlarmBtn = document.querySelector("button");

        //bat dau
        for (let i = 0; i < Lquestion.length; i++) {
            let option = `<option value="${Lquestion[i].Title}">`;
            selectMenu[0].firstElementChild.insertAdjacentHTML("afterend", option);
        }

       
    </script>
    <script>
        var i = 0;
        var id = 0;
        function ThemCauHoi() {

            i += 1; // Tăng giá trị i lên 1

            console.log("i sau khi tăng lên 1: " + i);

            var examsForm = document.getElementById('Exams');
            var examClone = document.getElementById('Exam').cloneNode(true);
            var inputFields = examClone.getElementsByTagName('input');

            // Cập nhật name của trường input để chứa giá trị mới của i
            for (var j = 0; j < inputFields.length; j++) {
                inputFields[j].name = "LProduct[" + i + "]." + inputFields[j].name.split(".")[1];
                inputFields[j].value = '';
            }
            // Thêm bản sao vào Exams
            examsForm.appendChild(examClone);
        }

        function ThemKichThuoc() {
            i += 1; // Tăng giá trị i lên 1

            console.log("i sau khi tăng lên 1: " + i);

            var examsForm = document.getElementById('Exams');
            var examClone = document.getElementById('Exam').cloneNode(true);
            var inputFields = examClone.getElementsByTagName('input');

            // Cập nhật name của trường input để chứa giá trị mới của i
            for (var j = 0; j < inputFields.length; j++) {
                inputFields[j].name = "LProduct[" + i + "]." + inputFields[j].name.split(".")[1];
            }
            // Thêm bản sao vào Exams
            examsForm.appendChild(examClone);
        }
    </script>
}

