
<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Xác Nhận Đơn Hàng</th>
            <th>Đóng Gói Đơn Hàng</th>
            <th>Đã Giao Hàng</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>@ViewBag.IdeConform</td>
            <td>@ViewBag.IdeEExport</td>
            <td></td>
        </tr>
    </tbody>
</table>

