
@{
    ViewBag.Title = "Đặt Hàng Thành Công";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ Hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                    <h2>Bạn đã đặt hàng thành công</h2>
                    <p>Colo Shop chân thành cảm ơn sự ủng hộ của bạn. Hi vọng bạn sẽ có một trải nghiệm tuyệt vời khi mua hàng tại ABC Store</p>
                    <p>Chúng tôi vừa gửi cho bạn một email về việc mua sắm vừa rồi</p>
                    <p>Hãy trở lại <a href="/">Trang Chủ</a> để tiếp tục mua sắm nhé</p>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>

}

